/***** GLOBAL PROPERTIES *****/
body {
  	padding-top: 50px;
}

/***** GLOBAL CLASSES PROPERTIES *****/
.master-container {
  	padding: 40px 15px;
}

/***** IMAGE GALLERY PROPERTIES *****/
.full-img img{
	margin:10px auto;
	display:block;
	max-height:200px; 
}
.img-thumbnails{
	margin: 0 auto 20px;
	width: 220px;
}
.img-thumbnails li{
	margin:5px;
}
.img-thumbnails img{
	max-height:50px;
	padding:10px;
}

/***** PRODUCT PROPRTIES *****/
.list-group-item {
	padding: 10px 15px 20px;
}

/***** DETAILS PANEL PROPERTIES *****/
.panel ul{
	list-style-type:none;
}
.products-panels .panel{
	padding-bottom: 20px;
}

/***** ANGULAR FORM VALIDATION PROPERTIES *****/
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}